
<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <% if who_user == 'pacient' %>
          <th>Doutor</th>
        <% else %>
          <th>Pacient</th>
        <% end %>  
        <th>Consulta</th>
        <th>Dia</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      <% @appointment.each do |appointment| %>
      <tr>
        <th><%= appointment.id %></th>
        <% if who_user == 'pacient' %>
          <th><%= get_doctor_by_id(appointment.doctor_id).name %></th>
        <% else %>
          <th><%= get_pacient_by_id(appointment.pacient_id).name %></th>
        <% end %>
        <th><%= appointment.appointment_type %></th>
        <th><%= appointment.date.to_formatted_s(:short) %></th>
        <th><%= appointment.start %> hrs</th>
        <th><%= link_to 'Cancelar consulta', appointments_destroy_path(:id => appointment.id), :data => {:confirm => 'Tem certeza?'}, :method => :delete, :class => "btn btn-small btn-danger" %></th>
      </tr>
      <% end %>
    </tbody>
  </table>