<h1>Agende sua consulta</h1>
<%= @doctor.name %>
<br>
<%= image_tag(@doctor.img, size: "200x200") %>
<br>

<%= form_for(@doctor, url: appointments_path) do |f| %>
  <p>Selecione o tipo da consulta:</p>
  <%= select_tag(:type, options_for_select([['Exame',1], ['Tratamento',2], ['Cirurgia',3]])) %>
  <br>
  
  <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
