<h1>Agende sua consulta</h1>

<% if @appointment.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@appointment.errors.count, "error") %>.
    </div>
    <ul>
    <% @appointment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= @doctor.name %>
<br>
<%= image_tag(@doctor.img, size: "200x200") %>
<br>

<%= form_for(@appointment, url: appointments_path) do |f| %>
  <%= f.hidden_field :doctor_id, :value => @doctor.id %>
  <%= f.hidden_field :pacient_id, :value => @current_user.id %>
  
  <span>Selecione o tipo da consulta:</span>
  <%= f.select(:appointment_type, options_for_select([['Exame',"exame"], ['Tratamento','tratamento'], ['Cirurgia','cirurgia']])) %>
  <br>
  
  <span>Selecione o dia da consulta:</span>
  <%= f.text_field :date, "data-provide" => 'datepicker', "data-date-format" => "dd-mm-yyyy" %>
  <br>
  
  <span>Selecione a hora da consulta:</span>
  <%= f.select(:start, options_for_select(['Horas'])) %>
  <br>

  <%= f.submit "Agendar", class: "btn btn-primary" %>
<% end %>

<%= javascript_tag "var doctorId = #{@doctor_id};"%>
