<div style="border-style:solid; border-width:5px; margin:5px; padding:5px; float:left"> 
  <% if logged_in? %>
    <div style="float:left; margin-right:5px"> <%= @current_user.email %> </div>
    
    <div style="float:left; margin-right:5px">
      <%= link_to "Home", '/home' %>
    </div>
  
    <div style="float:left; margin-right:5px">
      <%= link_to "Marque uma consulta", '\doctors' %>
    </div>
  
    <div style="float:left; margin-right:5px">
      <%= link_to "Log out", logout_path, method: "delete" %>
    </div>
    
  <% else %>
    <div style="float:left; margin-right:5px">
      <%= link_to "Home", '/home' %>
    </div>
  
    <div style="float:left; margin-right:5px">
      <%= link_to "Log in", login_path %>
    </div>
  <% end %>
</div>
<br><br><br><br><br>